<div class="container">
    <h1>Sources</h1>
    <div class='table-responsive'>
        <table class='table'>
            <thead>
                <hr>
                <ul class="list-group">
                    <li class="list-group-item">Template driven forms <code>https://material.angular.io/components/categories/forms</code></li>
                    <li class="list-group-item">Layout container <code>https://material.angularjs.org/latest/layout/container</code></li>
                    <li class="list-group-item">Directive <code>https://material.angularjs.org/latest/api/directive/mdAutocomplete</code></li>
                    <li class="list-group-item">BootStrap <code>https://getbootstrap.com/docs/3.4/css/</code></li>
                    <li class="list-group-item">Component <code>https://www.tutorialspoint.com/angular2/angular2_components.htm</code></li>
                    <li class="list-group-item">Angular Cli <code>https://github.com/angular/angular-cli</code></li>
                    <li class="list-group-item">Router Builds <code>https://github.com/angular/router-builds</code></li>
                    <li class="list-group-item">Event Binding <code>https://developer.mozilla.org/en-US/docs/Web/Events</code></li> 
                </ul>  
              </thead>
        </table>
    </div>
</div>