<div class="container">
    <div class="container">
        <h2>Synopsis of the Harry Potter Stories</h2>
        <table class="table border" >
          <thead>
            <tr>
              <th>Names</th>
              <th>Images</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Houses</td>
              <td><img class="houses" src='/assets/house.jpg' alt="house"></td>
            </tr>
            <tr>
                <td>Daniel Radcliffe</td>
                <td><img class="houses1" src='/assets/HarryPotter.jpg' alt="characters"></td>
            </tr>
            <tr>
                <td>Voldermort</td>
                <td><img class="houses2" src='/assets/VoldemortHeadshot.png' alt="characters"></td>
            </tr>
            <tr>
                <td>Hermione Granger</td>
                <td><img class="houses3" src='/assets/HermioneGranger.jpg' alt="characters"></td>
            </tr>
          </tbody>
        </table>
      </div>
    <!-- <img src='assets/hogwarts.jpg' alt="Harry" style="width:100%;"> -->
</div>
<div class="text-block"></div>
    <div class="text-center">Developed by:</div>
    <div class="text-center">
      <h3>Bhavesh Tadikonda</h3>
    </div>
    <div class="text-center">@BhaveshTadikonda</div>
      <div class="text-center">
        <a href=""></a>
